body{
    background: linear-gradient(red, white);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

#page{
    border-radius: 60px;
    width: 900px;
}

header{
    display: flex;
    justify-content: left;
    align-items: center;
    background: linear-gradient(to bottom,rgb(35, 108, 216), rgb(127, 207, 253));
    padding: 10px;
    border-bottom: 5px solid black;
    color: white;
}

header h1{
    margin-left: 10px;
}

nav{
    display: flex;
    justify-content:space-around;
    background: linear-gradient(to right, rgb(218, 155, 40), rgb(238, 216, 93));
    
    padding: 20px;
    color: white;
}

main{
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: white ;
    padding: 10px;
    
}

main p{
    padding: 4px;
    margin: 4px;
    
}


article {
    border: solid;
    border-image: url('/imgs/movil.png');
    border-width: 50px 10px 50px 10px;
    border-image-slice: 50 10 50 10;
    background-color: white;
    margin-top: 14%;
    margin-bottom: 14%;
    padding: 3px;
    margin: 10px;
    box-sizing: border-box; 
    max-width: 30%;
    flex: 1 1 30%; 
    border-radius: 80px;
}

article img{
    width: 75%;
}

article h1{
    letter-spacing: 7px;
}

footer{
    background: linear-gradient(to top,rgb(35, 108, 216), rgb(68, 174, 235));
    color: white;
    text-align: center;
    padding: 20px;
    border-top: 5px solid black;
}

/* Aseguramos que el header tenga posición relativa */
article header {
    position: relative;
}
  
/* Estilos para las chinchetas */
.chincheta {
    width: 35px;
    height: 49px;
    position: absolute;
    top: -56px;
    background-image: url('imgs/chincheta.png'); /* Asegúrate de que la ruta sea correcta */
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 10; /* Para que esté por encima del contenido */
}
  
/* Chincheta del primer artículo */
article:nth-of-type(1) .chincheta {
    left: 186px;
}

/* Chincheta del segundo artículo */
article:nth-of-type(2) .chincheta {
    z-index: 0;
    left: 120px;
}

/* Chincheta del tercer artículo */
article:nth-of-type(3) .chincheta {
    left: 30px;
}

/* Estilos iniciales para los enlaces de la barra de navegación */
nav a {
    text-shadow: 0px 0px 5px white;
    transition: text-shadow 0.5s; /* Transición de 0.5 segundos */
  }
  
/* Estilos cuando el cursor pasa sobre el enlace */
nav a:hover {
    text-shadow: 2px 2px 0px red;
}
  
/* Estilos básicos para el menú */
nav {
    font-family: Arial, sans-serif;
}
 

