/* Main Sections */
main {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #1F1F1F;
    border-radius: 8px;
}

/* Colores */
.color-swatch {
    display: flex;
    gap: 10px;
}

.color-box {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 1px solid white;
    font-size: 0.8rem;
}

/* Iconos */
.icon-example {
    display: flex;
    gap: 20px;
}

.icon-example img {
    width: 50px;
    height: 50px;
}
